/* Filters, Objects */
.nt-list-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-type: none;
}

.nt-list-item {
  display: block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: @list-item-height;
  padding: 0 @list-item-height 0 5px;
  border-bottom: 1px solid @list-item-border-color;
  font-size: large;
  white-space: nowrap;
  cursor: pointer;
}

.nt-list-item:nth-child(odd) {
  background: #EFEFEF;
}

.nt-list-item-with-icon {
  padding-left: @list-item-icon-height + 5px * 2;
}

.nt-list-item-icon {
  display: inline-block;
  position: absolute;
  width: @list-item-icon-height;
  height: @list-item-icon-height;
  margin: ((@list-item-height - @list-item-icon-height) / 2) 5px ((@list-item-height - @list-item-icon-height) / 2);
  left: 0;
}

.nt-list-item-title {
  display: inline-block;
  max-width: 100%;
  float: left;
  overflow: hidden;
  line-height: @list-item-height;
  text-overflow: ellipsis;
}

.nt-list-item-checkbox {
  position: absolute;
  width: @list-item-checkbox-size;
  height: @list-item-checkbox-size;
  margin: (@list-item-height - @list-item-checkbox-size) / 2;
  right: 0;
  background-repeat: no-repeat;
}

.nt-list-item .nt-list-item-checkbox {
  /** base64:start "img/check-inactive.png" */
  background-image: url("img/check-inactive.png");
  /** base64:end */
}

.nt-list-item.related .nt-list-item-checkbox {
  /** base64:start "img/check-related.png" */
  background-image: url("img/check-related.png");
  /** base64:end */
}

.nt-list-item.checked .nt-list-item-checkbox {
  /** base64:start "img/check-active.png" */
  background-image: url("img/check-active.png");
  /** base64:end */
}
