/* Map block */
.nt-map-page {
  width: 100%;
  height: 100%;
}

.nt-map-control-button {
  display: block;
  width: @map-control-size * @map-control-desktop-mobile-scale;
  height: @map-control-size * @map-control-desktop-mobile-scale;
  margin: 3px;
  border: 1px solid @map-cpntrol-icon-color;
  -moz-border-radius: @map-control-radius * @map-control-desktop-mobile-scale;
  -webkit-border-radius: @map-control-radius * @map-control-desktop-mobile-scale;
  border-radius: @map-control-radius * @map-control-desktop-mobile-scale;
  background: fade(@map-control-color, 80%) center center no-repeat;
  background-size: (@map-control-icon-size * @map-control-desktop-mobile-scale) (@map-control-icon-size * @map-control-desktop-mobile-scale);
  cursor: pointer;
}

.nt-map-control-button.mobile {
  display: block;
  width: @map-control-size;
  height: @map-control-size;
  margin: 6px;
  -moz-border-radius: @map-control-radius;
  -webkit-border-radius: @map-control-radius;
  border-radius: @map-control-radius;
  background-size: @map-control-icon-size @map-control-icon-size;
}

.nt-map-control-button:hover {
  background-color: fade(lighten(@map-control-color, 20%), 80%);
  border-color: lighten(@map-cpntrol-icon-color, 20%);
}

.zoom-in-icon {
/** base64:start "img/zoom-in.png" */
  background-image: url("img/zoom-in.png");
/** base64:end */
}

.zoom-out-icon {
/** base64:start "img/zoom-out.png" */
  background-image: url("img/zoom-out.png");
/** base64:end */
}

.locate-icon {
  /** base64:start "img/locate.png" */
  background-image: url("img/locate.png");
  /** base64:end */
}