/* Map block */
.nt-map-page {
  width: 100%;
  height: 100%;
}

.nt-map-control-button {
  display: block;
  width: @map-control-desktop-size;
  height: @map-control-desktop-size;
  margin: 3px;
  border: 1px solid @map-cpntrol-icon-color;
  -moz-border-radius: @map-control-desktop-radius;
  -webkit-border-radius: @map-control-desktop-radius;
  border-radius: @map-control-desktop-radius;
  background: fade(@map-control-color, 80%) center center no-repeat;
  background-size: @map-control-desktop-icon-size @map-control-desktop-icon-size;
  color: @map-cpntrol-icon-color;
  font-size: @map-control-desktop-icon-size;
  line-height: @map-control-desktop-size;
  font-family: @icon-font-family;
  text-align: center;
  cursor: pointer;
}

.nt-map-control-button:hover {
  background-color: fade(lighten(@map-control-color, 20%), 80%);
  border-color: lighten(@map-cpntrol-icon-color, 20%);
}

.nt-map-control-button.mobile {
  display: block;
  width: @map-control-mobile-size;
  height: @map-control-mobile-size;
  margin: 6px;
  -webkit-border-radius: @map-control-mobile-radius;
  -moz-border-radius: @map-control-mobile-radius;
  border-radius: @map-control-mobile-radius;
  background-size: @map-control-mobile-icon-size @map-control-mobile-icon-size;
  font-size: @map-control-mobile-icon-size;
  line-height: @map-control-mobile-size;
}

.zoom-in-icon.mobile {
  bottom: @navigation-bar-height + @navigation-bar-border-height;
}

.zoom-out-icon.mobile {
  bottom: @navigation-bar-height + @navigation-bar-border-height;
}

.zoom-in-icon:before {
  content: "+";
}

.zoom-out-icon:before {
  content: "-";
}

.position-add:after {
  content: "a";
}

.locate-icon:after {
  content: "l";
}

.loading-icon {
  /** base64:start "img/loading.gif" */
  background-image: url("img/loading.gif");
  /** base64:end */
  color: transparent;
}