/* Map block */
.nt-map-page {
  width: 100%;
  height: 100%;
}

.nt-map-control-wrapper {
  margin: 3px;
}

.nt-map-control-button {
  padding: 3px;
  border: 1px solid @map-cpntrol-icon-color;
  border-radius: 5px;
  background: fade(@map-control-color, 80%);
}

.nt-map-control-icon {
  width: @map-control-size;
  height: @map-control-size;
  background-repeat: no-repeat;
}

.zoom-in-icon {
  background-image: url("img/zoominc.png");
}

.zoom-out-icon {
  background-image: url("img/zoomdec.png");
}

.current-location-icon {
  background-image: url("img/locate.png");
}

.add-point-icon {
  background-image: url("img/add-point.png");
}

