/* Navigation block */
.nt-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @navigation-bar-height;
  margin: 0;
  padding: 0;
  border-top: @navigation-bar-border-height solid @navigation-bar-border-color;
  overflow: hidden;
  background: @navigation-bar-color-bottom;
  background: -moz-linear-gradient(top, @navigation-bar-color-top, @navigation-bar-color-bottom); /* Firefox 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
              color-stop(0%, @navigation-bar-color-top),
              color-stop(100%, @navigation-bar-color-bottom)); /* Chrome 1-9, Safari 4-5 */
  background: -webkit-linear-gradient(top, @navigation-bar-color-top, @navigation-bar-color-bottom); /* Chrome 10+, Safari 5.1+ */
  background: -o-linear-gradient(top, @navigation-bar-color-top, @navigation-bar-color-bottom); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @navigation-bar-color-top, @navigation-bar-color-bottom); /* IE10 */
  background: linear-gradient(top, @navigation-bar-color-top, @navigation-bar-color-bottom); /* CSS3 */
  text-align: center;
}

.nt-nav-tab-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nt-nav-tab {
  display: inline-block;
  width: @navigation-bar-tab-width;
  height: 100%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.nt-nav-tab-link {
  display: inline-block;
  width: @navigation-bar-tab-width;
  height: @navigation-bar-tab-height;
  color: @navigation-bar-inactive-tab-color;
  font-size: 11px;
  font-weight: bold;
  font-stretch: condensed;
  text-decoration: none;
}

.nt-nav-tab-link:focus {
  outline: 0;
}

.nt-nav-tab-link.active {
  color: @navigation-bar-active-tab-color;
}

.nt-nav-tab-icon {
  display: inline-block;
  margin: @navigation-bar-tab-icon-top 0 0;
  font-family: @icon-font-family;
  font-size: @navigation-bar-tab-icon-size;
  line-height: @navigation-bar-tab-icon-size;
  font-weight: normal;
  font-style: normal;
}

.nt-nav-tab-link .map-icon:before {
  content: "e";
}

.nt-nav-tab-link .objects-icon:before {
  content: "b";
}

.nt-nav-tab-link .filters-icon:before {
  content: "f";
}

.nt-nav-tab-link .settings-icon:before {
  content: "s";
}

.nt-nav-tab-link .info-icon:before {
  content: "i";
}

.nt-nav-tab-text {
  line-height: @navigation-bar-tab-height - @navigation-bar-tab-icon-size - @navigation-bar-tab-icon-top;
}