/* Navigation block */
.nt-nav {
  position: absolute;
  width: 100%;
  height: @navigation-bar-height;
  margin: 0;
  padding: 0;
  border-top: @navigation-bar-border-height solid @navigation-bar-border-color;
  bottom: 0;
  overflow: hidden;
  /** base64:start "img/gradient.png" */
  background: url("img/gradient.png") repeat-x;
  /** base64:end */
  text-align: center;
}

.nt-nav-tab-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nt-nav-tab {
  display: inline-block;
  width: @navigation-bar-tab-width;
  height: 100%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.nt-nav-tab-link {
  display: inline-block;
  width: @navigation-bar-tab-width;
  height: @navigation-bar-tab-height;
  color: @navigation-bar-inactive-tab-color;
  font-size: 9px;
  font-stretch: condensed;
  text-decoration: none;
}

.nt-nav-tab-link:focus {
  outline: 0;
}

.nt-nav-tab-link.active {
  color: @navigation-bar-active-tab-color;
}

.nt-nav-tab-icon {
  display: inline-block;
  width: @navigation-bar-tab-icon-size;
  height: @navigation-bar-tab-icon-size;
  margin: 5px 0 0;
  background-repeat: no-repeat;
  background-size: @navigation-bar-tab-icon-size @navigation-bar-tab-icon-size;
}

.nt-nav-tab-link .map-icon {
  /** base64:start "img/map-inactive.png" */
  background-image: url("img/map-inactive.png");
  /** base64:end */
}

.nt-nav-tab-link.active .map-icon {
  /** base64:start "img/map-active.png" */
  background-image: url("img/map-active.png");
  /** base64:end */
}

.nt-nav-tab-link .objects-icon {
  /** base64:start "img/objects-inactive.png" */
  background-image: url("img/objects-inactive.png");
  /** base64:end */
}

.nt-nav-tab-link.active .objects-icon {
  /** base64:start "img/objects-active.png" */
  background-image: url("img/objects-active.png");
  /** base64:end */
}

.nt-nav-tab-link .filters-icon {
  /** base64:start "img/filters-inactive.png" */
  background-image: url("img/filters-inactive.png");
  /** base64:end */
}

.nt-nav-tab-link.active .filters-icon {
  /** base64:start "img/filters-active.png" */
  background-image: url("img/filters-active.png");
  /** base64:end */
}

.nt-nav-tab-link .settings-icon {
  /** base64:start "img/settings-inactive.png" */
  background-image: url("img/settings-inactive.png");
  /** base64:end */
}

.nt-nav-tab-link.active .settings-icon {
  /** base64:start "img/settings-active.png" */
  background-image: url("img/settings-active.png");
  /** base64:end */
}

.nt-nav-tab-link .info-icon {
  /** base64:start "img/info-inactive.png" */
  background-image: url("img/info-inactive.png");
  /** base64:end */
}

.nt-nav-tab-link.active .info-icon {
  /** base64:start "img/info-active.png" */
  background-image: url("img/info-active.png");
  /** base64:end */
}

.nt-nav-tab-text {
}