/* Predefine */

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

@navigation-bar-height: 60px;
@navigation-bar-color: #DDDDDD;
@navigation-bar-tab-color: #DDDDDD;
@navigation-bar-active-tab-color: #AAAADD;

@list-item-height: 50px;

@import "navigation.less";
@import "content.less";
@import "map.less";
@import "info-window.less";
@import "about.less";
@import "lists.less";








