body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

a {
    width: 1000px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

/* Navigation block */
#nav {
    width: 100%;
    height: 12%;
    text-align: center;
    background: #DDDDDD;
    padding: 0;
    margin: 0;
	position:fixed; bottom:0;
}

#nav ul {
    display: table-row; margin:0;
}

#nav ul li {
    width: auto;
    display: table-cell;
    text-align: center;
    padding-left: 2px;
    vertical-align: bottom;
}

#nav ul li:first-child {
    padding: 0;
}

.active-tab {
    background: #00FF00;
}


/* Content block */
#content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88%;
}


/* Map block */
#map-canvas {
    width: 100%;
    height: 100%;
}

#currentLocationControl {
    margin: 5px;
    width: 40px;
    height: 40px;
    background: #AA0000;
}


/* InfoWindow */
#info-window-title {
    margin-left: 10px;
}

#info-window-icon {
    float: left;
    margin-right: 10px;
}

#info-window-container {
    font-size: small;
}

/* About block */
#about-block {
    width: 100%;
    height: 100%;
    background: url(img/about-background.png) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#about-program-name {
    padding-top: 10%;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

#about-program-version {
    text-align: center;
    font-size: large;
}


/* Filters, Objects */
#filters-block, #objects-block {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#filters-block li:nth-child(odd), #objects-block li:nth-child(odd) {
    background: #EFEFEF;
}

#filters-block li, #objects-block li {
    display: block;
    height: 13%;
    font-size: large;
    border-bottom: 1px solid gray;
}

.filter-item {
}

.filter-checkbox, .object-checkbox {
    float: right;
    margin-right: 2%;
}

.object-item {
}