/* Supported browsers:
 * * Chrome (last)
 * * Safari (last)
 * * Firefox (last)
 * * Opera (last)
 * * IE (9+)
 * * Android (2.3+)
 * * iPhone (4+)
 */

@font-face {
  font-family: 'anfont';
  src:
  /** phonegap-non-ios:start *//** phonegap-non-android:start */
  /** base64:start "font/anfont.woff" */
      url('font/anfont.woff') format('woff') /* FF 3.6, Chrome 5, IE9 */
  /** base64:end */
  /** phonegap-non-android:end *//** phonegap-non-ios:end */

  /** phonegap-non-ios:start *//** phonegap-non-android:start */
  ,
  /** phonegap-non-android:end *//** phonegap-non-ios:end */

  /** phonegap-non-ios:start */
  /** base64:start "font/anfont.ttf" */
       url('font/anfont.ttf') format('truetype') /* Opera, Safari, Android */
  /** base64:end */
  /** phonegap-non-ios:end */

  /** phonegap-non-ios:start *//** phonegap-non-android:start */
  ,
  /** phonegap-non-android:end *//** phonegap-non-ios:end */

  /** phonegap-non-android:start */
  /** base64:start "font/anfont.svg" */
       url('font/anfont.svg') format('svg') /* iOS */
  /** base64:end */
  /** phonegap-non-android:end */
  ;
  font-weight: normal;
  font-style: normal;
}

@import "normalize.less";

/* Predefine */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

@icon-font-family: anfont;

@navigation-bar-height: 53px;
@navigation-bar-color-top: #797979;
@navigation-bar-color-bottom: #424242;
@navigation-bar-border-height: 1px;
@navigation-bar-border-color: #424242;
@navigation-bar-tab-width: 60px;
@navigation-bar-tab-height: @navigation-bar-height;
@navigation-bar-tab-icon-top: 4px;
@navigation-bar-tab-icon-size: 30px;
@navigation-bar-active-tab-color: #C9FFAF;
@navigation-bar-inactive-tab-color: #DDDDDD;

@list-item-height: 50px;
@list-item-left-padding: 10px;
@list-item-border-height: 1px;
@list-item-border-color: #D0D0D0;
@list-item-color-odd: #EFEFEF;
@list-item-icon-height: 30px;
@list-item-text-color-disabled: #B3B3B3;
@list-item-checkbox-size: 30px;
@list-item-checkbox-checked-color: #069C46;
@list-item-checkbox-related-color: #94C7AA;
@list-item-checkbox-unchecked-color: #B3B3B3;

@map-control-desktop-size: 26px;
@map-control-mobile-size: 40px;
@map-control-desktop-radius: 5px;
@map-control-mobile-radius: 8px;
@map-control-desktop-icon-size: 21px;
@map-control-mobile-icon-size: 32px;
@map-control-color: #DDDDDD;
@map-cpntrol-icon-color: #7F7F7F;

@leaflet-popup-content-border-radius: 5px;
@leaflet-popup-content-margin: 10px;
@leaflet-controls-indents-horizontal: 5px;
@leaflet-controls-indents-vertical: 10px;
@leaflet-controls-margins: inerit;

@button-color-top: #53b37c;
@button-color-bottom: #069C46;
@button-disabled-color-top: #AAAAAA;
@button-disabled-color-bottom: #303030;
@button-shadow-color: rgba(0, 0, 0, 0.25);

@import "navigation.less";
@import "content.less";
@import "leaflet.less";
@import "map.less";
@import "info.less";
@import "about.less";
@import "create.less";
@import "lists.less";
@import "controls.less";
