<?xml version="1.0" encoding="UTF-8"?>

<widget
    xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "com.appspot.atmnavigator_minsk"
    versionCode = "215"
    version = "2.1.5">

    <name>ATM Навигатор</name>

    <description>
        Приложение для поиска ближайших банкоматов в городе Минск.
    </description>

    <author email="maxusachev@gmail.com">Max Usachev</author>
    <author email="pavel.tyslyatsky@gmail.com">Pavel Tyslyatsky</author>

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation" value="default" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <gap:plugin name="ChildBrowser" />

    <icon src="icon_ldpi.png" width="36" height="36"/>
    <icon src="icon_mdpi.png" width="48" height="48"/>
    <icon src="icon_hdpi.png" width="72" height="72"/>
</widget>
